<% provide(:title, "About") %>
<div class="row">
  <div class="container">
    <h1>About SkyCab&amp;</h1>
    <hr class="title-row">
    <p>Welcome to SkyCab&amp;, we could not be happier to tell you more about the first of it's kind - experience, and how we plan to change how humans transition to it's quicker, convienent, breathtaking form of transportation around the world.</p>
    <p>We are the stepping stone that will transition us from a species that uses individual cars as a means of transportation to arial/flying transportation!</p>
    <p>Here you can learn more about how we intend to do so, and how YOU can be at the forefront of the evolutionary process to do so.</p>
    <h5>We are the step between road vehicles to flying vehicles.</h5>
    <!-- TODO: Fill out page -->
  </div>
</div>
