<h1>StaticPages#terms-and-conditions</h1>
<p>Find me in app/views/static_pages/terms-and-conditions.html.erb</p>
<div class="et_pb_text_inner"><p>Welcome to <strong>SkyCab, LLC.</strong><br />These terms and conditions outline the rules and regulations for the use of <strong>Chesapeake Structures<br />Inc.</strong>&#8216;s Website.</p>
<p><strong><strong>SkyCab, LLC.</strong></strong> is located at:<br /><a href="https://sky.cab" target="_blank" rel="noopener nofollow" title="Visit Chesapeake Structure's website">https://sky.cab</a>,<br />Annapolis, MD. USA.</p>
<p>By accessing this website we assume you accept these terms and conditions in full. Do not continue to use <strong><br />SkyCab, LLC.&#8217;s </strong>website if you do not accept all of the terms and conditions stated on this<br />page.</p>
<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or<br />all Agreements: <strong>“Client”</strong>, <strong>“You”</strong> and <strong>“Your”</strong> refers to you, the person<br />accessing this website and accepting the Company’s terms and conditions. <b>“The Company”</b>, <b>“Ourselves”</b>, <b>“We”</b>, <b>“Our”</b> and <b>“Us”</b>, refers to our<br />Company. <b>“Party”</b>, <b>“Parties”</b>, or <b>“Us”</b>, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the<br />offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the<br />most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of<br />meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance with and<br />subject to, prevailing law of . Any use of the above terminology or other words in the singular, plural,<br />capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
<h2>Cookies</h2>
<p>We employ the use of cookies. By using <strong>SkyCab, LLC.</strong>&#8216;s website you consent to the use of<br />cookies in accordance with <strong>SkyCab, LLC.</strong>’s privacy policy.</p>
<p>Most of the modern day interactive web sites use cookies to enable us to retrieve user details for each visit. Cookies<br />are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting.<br />Some of our affiliate / advertising partners may also use cookies.</p>
<h2>License</h2>
<p>Unless otherwise stated, <strong>SkyCab, LLC.</strong> and/or it’s licensors own the intellectual property<br />rights for all material on <strong>SkyCab, LLC.</strong> All intellectual property rights are reserved.<br />You may view and/or print pages from https://sky.cab for your own personal use subject to restrictions set in these<br />terms and conditions.</p>
<p>You must not:</p>
<ul>
<li>Republish material from https://sky.cab</li>
<li>Sell, rent or sub-license material from https://sky.cab</li>
<li>Reproduce, duplicate or copy material from https://sky.cab</li>
<li>Redistribute content from <strong>SkyCab, LLC.</strong> (unless content is specifically made for<br />redistribution).</li>
</ul>
<h2>User Comments</h2>
<ol>
<ol>
<li>This Agreement shall begin on the date hereof June 8, 2023.</li>
<li>Certain parts of this website offer the opportunity for users to post and exchange opinions, information,<br />material and data (&#8216;Comments&#8217;) in areas of the website. <strong>SkyCab, LLC.</strong> does not screen,<br />edit, publish or review Comments prior to their appearance on the website and Comments do not reflect the views or opinions of<br />SkyCab, LLC., its agents or affiliates. Comments reflect the view and opinion of the person who posts<br />such view or opinion. To the extent permitted by applicable laws <strong>SkyCab, LLC.</strong> all not be<br />responsible or liable for the Comments or for any loss cost, liability, damages or expenses caused and or suffered as a result of any use<br />of and/or posting of and/or appearance of the Comments on this website.</li>
<li><strong>SkyCab, LLC.</strong> reserves the right to monitor all Comments and to remove any<br />Comments which it considers in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms<br />and Conditions.</li>
</ol>
</ol>
<p>You warrant and represent that:</p>
<ol>
<ol>
<li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
<li>The Comments do not infringe any intellectual property right, including without limitation copyright, patent<br />or trademark, or other proprietary right of any third party;</li>
<li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material or<br />material which is an invasion of privacy.</li>
<li>The Comments will not be used to solicit or promote business or custom or present commercial activities or<br />unlawful activity.</li>
<li>You hereby grant to <strong>SkyCab, LLC.</strong> a non-exclusive royalty-free license to use,<br />reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</li>
</ol>
</ol>
<h2>Hyperlinking to our Content</h2>
<ol>
<li>The following organizations may link to our Web site without prior written approval:</li>
<ol>
<li>Government agencies;</li>
<li>Search engines;</li>
<li>News organizations;</li>
<li>Online directory distributors when they list us in the directory may link to our Web site in the same<br />manner as they hyperlink to the Web sites of other listed businesses; and</li>
<li>System-wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and<br />charity fundraising groups which may not hyperlink to our Web site.</li>
</ol>
<li>These organizations may link to our home page, to publications or to other Web site information so long as<br />the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of<br />the linking party and its products or services; and (c) fits within the context of the linking party&#8217;s site.</li>
<li>We may consider and approve in our sole discretion other link requests from the following types of<br />organizations:</li>
<ol>
<li>Commonly-known consumer and/or business information sources such as Chambers of Commerce, American<br />Automobile Association, AARP and Consumers Union;</li>
<li>Dot.com community sites;</li>
<li>Associations or other groups representing charities, including charity giving sites,</li>
<li>Online directory distributors;</li>
<li>Internet portals;</li>
<li>Accounting, law and consulting firms whose primary clients are businesses; and</li>
<li>Educational institutions and trade associations.</li>
</ol>
</ol>
<p>We will approve link requests from these organizations if we determine that: (a) the link would not reflect<br />unfavorably on us or our accredited businesses (for example, trade associations or other organizations representing inherently<br />suspect types of business, such as work-at-home opportunities, shall not be allowed to link); (b)the organization<br />does not have an unsatisfactory record with us; (c) the benefit to us from the visibility associated with the hyperlink<br />outweighs the absence of Colper Development; and (d) where the link is in the context of general resource<br />information or is otherwise consistent with editorial content in a newsletter or similar product furthering the mission of the<br />organization. These organizations may link to our home page, to publications or to other Web site information so long as the link:<br />(a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party<br />and it products or services; and (c) fits within the context of the linking party&#8217;s site.</p>
<p>If you are among the organizations listed in paragraph 2 above and are interested in linking to our website, you<br />must notify us by sending an e-mail to <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d9b0b7bfb699bab1bcaab8a9bcb8b2bcaaadabacbaadacabbcaaf7bab6b4">[email&#160;protected]</a>. Please include your name, your organization name,<br />contact information (such as a phone number and/or e-mail address) as well as the URL of your site, a list of any<br />URLs from which you intend to link to our Web site, and a list of the URL(s) on our site to which you would like to link.<br />Allow 2-3 weeks for a response.</p>
<p>Approved organizations may hyperlink to our Web site as follows:</p>
<ol>
<li>By  use of our corporate name; or</li>
<li>By use of the uniform resource locator (Web address) being linked to; or</li>
<li>By use of any other description of our Web site or material being linked to that makes sense within the context<br />and format of content on the linking party&#8217;s site.</li>
</ol>
<p>No use of <strong>SkyCab, LLC.</strong>’s logo or other artwork will be allowed for linking absent a<br />trademark license agreement.</p>
<h2>iFrames</h2>
<p>Without prior approval and express written permission, you may not create frames around our Web pages or use other<br />techniques that alter in any way the visual presentation or appearance of our Web site.</p>
<h2>Reservation of Rights</h2>
<p>We reserve the right at any time and in its sole discretion to request that you remove all links or any particular<br />link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also reserve the<br />right to amend these terms and conditions and its linking policy at any time. By continuing to link to our Web site, you<br />agree to be bound to and abide by these linking terms and conditions.</p>
<h2>Removal of links from our website</h2>
<p>If you find any link on our Web site or any linked web site objectionable for any reason, you may contact us about<br />this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.</p>
<p>Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or<br />accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is<br />kept up to date.</p>
<h2>Content Liability</h2>
<p>We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify and<br />defend us against all claims arising out of or based upon your Website. No link(s) may appear on any page on your<br />Web site or within any context containing content or materials that may be interpreted as libelous, obscene or criminal,<br />or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>
<h2>Disclaimer</h2>
<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions<br />relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of<br />satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer<br />will:</p>
<ol>
<li>Limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
<li>Limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
<li>Limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
<li>Exclude any of our or your liabilities that may not be excluded under applicable law.</li>
</ol>
<p>The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a) are<br />subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or in relation to<br />the subject matter of this disclaimer, including liabilities arising in contract, in tort (including negligence) and<br />for breach of statutory duty.</p>
<p>To the extent that the website and the information and services on the website are provided free of charge, we will<br />not be liable for any loss or damage of any nature.</p>
<h2>Not responsible for Information posted</h2>
<p>As the developer and owner of the site, I am not responsible for any content that is posted on or with Chesapeake<br />Structures Inc.. I also reserve the right to delete you as a user or any content you post at any time, without<br />notice, should I deem it as inappropriate (my discretion).</p>
<h2>Credit &amp; Contact Information</h2>
<p>This Terms and conditions page was created at termsandconditionstemplate.com generator. If you have any queries<br />regarding any of our terms, please contact us.</p></div>
			</div>
